
@font-face {
    font-family: "Inter-bold";
    src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter-regular";
    src: url("../fonts/Inter-Regular.ttf");
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter-bold";
    font-family: "Inter-regular";
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}


.navbar{
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.navbar__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.navbar__link{
    font-family: "Inter-bold";
    color: black;
    display: flex;
    transition: 0,4s;
    font-size: 16px;
}
.navbar__title{
    display: flex;
    width: 100%;
}
.navbar__hover{
    display: flex;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.navbar__link:hover ~ .navbar__hover{
    width: 100%;
}


.navbar__link:hover{
    color: #000;
    opacity: 0.7;
}

.navbar__toogle{
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}
.navbar__toogle__box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
}

.navbar__list__toogle{
    display: none;
}
.navbar__toogle__open{
    display: flex !important;
    flex-direction: column;
}
.navbar__list__toogle li {
    margin-top: 10px;
}
.navbar__list__toogle a{
    display: flex;
    width: max-content;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 0 50px;
    margin-top: 40px;
}
.header__list li{
    width: 49%;
}

.header__title{
    text-transform: capitalize;
    font-family: "Inter-bold" ;
    font-size: 72px;
}
.header__title b{
    color: rgb(84, 180, 232);
}
.header p{
    font-family: "Inter-regular";
    font-weight: 700;
    word-spacing: 5px;
}
.header--iframe{
    display: flex;
    width: 100%;
    height: 340px;
}