@media (max-width:1300px){
    .header__title{
        font-size: 40px;
    }
}

@media (max-width:1000px){
    .navbar__link{
        font-size: 12px;
    }
  
}

@media (max-width:833px){
    .navbar__list{
        display: none;
    }
    .navbar__toogle{
        display: flex;
    }
    .header__list{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }
    .header__list .header__item{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__item h2 , .header__item p{
        text-align: center;
        margin-top: 10px;
    }
    .header__item:nth-child(1){
        margin-top: 40px;
    }
   
}

@media (max-width:565px){
    .header{
        padding-right: 10px;
        padding-left: 10px;
    }
   
    .header__title{
        font-size: 25px;
    }
    .header--iframe{
        height: 250px;
    }
}

@media (max-width:400px){
   .navbar{
    padding-left: 15px;
    padding-right: 15px;
   }
   .header{
    padding-left: 5px;
    padding-right: 5px;
   }
   .header--iframe{
    width: 100%;
   }
   .header__item{
    width: 100%;
   }
}